<div class="gf-post list-group-item" *ngFor="let post of posts; let i = index" [ngClass]="{'list-group-item-success': post.loveIts > 0, 'list-group-item-danger': post.loveIts < 0}">
  <div class="row">
    <h3 class="col-sm-10">
      <i class="glyphicon glyphicon-asterisk"></i> {{post.title}}</h3>
    <div class="gf-date col-sm-2 text-right">
      <span class="badge">{{post.creationDate | date: 'short' }}</span>
    </div>
  </div>
  <hr />
  <div class="row">
    <p class="col-sm-12 text-justify">{{post.content}}</p>
  </div>
  <div class="btn-group">
    <button class="btn btn-success btn-secondary" (click)="onLike(i)">
      <i class="glyphicon glyphicon-thumbs-up"></i> J'aime</button>
    <button class="btn btn-danger btn-secondary" (click)="onDislike(i)">
      <i class="glyphicon glyphicon-thumbs-down"></i> Je n'aime pas</button>
  </div>
  <div class="btn-group float-right">
    <button class="btn btn-success btn-danger" (click)="onDelete(i)">
      <i class=""></i> Supprimer</button>
  </div>
</div>